@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.socials a {
  text-align: center;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  float: left;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
  border-radius: 24px;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #000;
  i{
    line-height: 30px;
  }
}
